<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterBackend</filter-name>
        <filter-class>filter.FilterBackend</filter-class>
    </filter>
    <filter>
        <filter-name>FilterRoster</filter-name>
        <filter-class>filter.FilterRoster</filter-class>
    </filter>
    <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>filter.FilterAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterRoster</filter-name>
        <url-pattern>/roster/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterBackend</filter-name>
        <url-pattern>/fantasy</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxKorisnickoImeValidacija</servlet-name>
        <servlet-class>ajax.KorisnickoImeValidacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxNazivLigeValidacija</servlet-name>
        <servlet-class>ajax.NazivLigeValidacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxNazivTimaValidacija</servlet-name>
        <servlet-class>ajax.NazivTimaValidacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPrikazIgraca</servlet-name>
        <servlet-class>ajax.PrikazIgraca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxFantasyTimValidacija</servlet-name>
        <servlet-class>ajax.FantasyTimValidacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_RESTTest</servlet-name>
        <servlet-class>ajax.AdminUnosRasporeda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_UnosRosteraAjax</servlet-name>
        <servlet-class>ajax.UnosRostera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxOtkazIgrac</servlet-name>
        <servlet-class>ajax.OtkazIgrac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxOdobriLigu</servlet-name>
        <servlet-class>ajax.AdminOdobriLigu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAzuriranjeRezultata</servlet-name>
        <servlet-class>ajax.AdminAzuriranjeRezultata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAzuriranjeFantasyLige</servlet-name>
        <servlet-class>ajax.AdminAzuriranjeFantasyLige</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AngazmanIgraca</servlet-name>
        <servlet-class>ajax.AngazmanIgraca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazUtakmica</servlet-name>
        <servlet-class>ajax.PrikazUtakmica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazVesti</servlet-name>
        <servlet-class>ajax.PrikazVesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazIgracaTabela</servlet-name>
        <servlet-class>ajax.PrikazIgracaTabela</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/fantasy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxKorisnickoImeValidacija</servlet-name>
        <url-pattern>/ajax/korisnickoIme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxNazivLigeValidacija</servlet-name>
        <url-pattern>/ajax/nazivLige</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxNazivTimaValidacija</servlet-name>
        <url-pattern>/ajax/nazivTima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPrikazIgraca</servlet-name>
        <url-pattern>/ajax/draftPrikaz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxFantasyTimValidacija</servlet-name>
        <url-pattern>/ajax/validacijaFantasyTim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_RESTTest</servlet-name>
        <url-pattern>/admin/unosRasporeda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_UnosRosteraAjax</servlet-name>
        <url-pattern>/roster/unosRostera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxOtkazIgrac</servlet-name>
        <url-pattern>/roster/otkazIgrac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxOdobriLigu</servlet-name>
        <url-pattern>/admin/odobriLigu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAzuriranjeRezultata</servlet-name>
        <url-pattern>/admin/azuriranjeRezultata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAzuriranjeFantasyLige</servlet-name>
        <url-pattern>/admin/azuriranjeFantasyLige</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AngazmanIgraca</servlet-name>
        <url-pattern>/roster/angazmanIgraca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazUtakmica</servlet-name>
        <url-pattern>/utakmice/prikaz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazVesti</servlet-name>
        <url-pattern>/ajax/prikazVesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazIgracaTabela</servlet-name>
        <url-pattern>/ajax/prikazIgracaTabela</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
